* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  background: linear-gradient(180deg, #0e0e0e 69.55%, #750303 115.74%);
  color: #ffffff;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
}

.left_corner,
.right_corner {
  position: absolute;
  top: 0;
  width: 30vw;
}

.left_corner {
  left: 0;
}

.right_corner {
  right: 0;
}

.under_left_corner {
  position: absolute;
  left: 2vw;
  bottom: 3vw;
  width: 2vw;
}

.under_right_corner {
  position: absolute;
  right: 2vw;
  bottom: 3vw;
  width: 2vw;
}

.logo_header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

  gap: 4vw;

  max-width: 18vw;

  margin: 0 auto;

  margin-top: 2vh;
}

.dot {
  max-width: 60vw;
  margin: 0 auto;

  cursor: pointer;
}

.btns {
  display: flex;
  justify-content: center;
  max-width: 90vw;
  width: 100%;

  margin: 0 auto;

  margin-top: 2vh;
}

.btn {
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.1);
}

.qrs {
  display: flex;
  max-width: 100vw;
  width: 100%;

  justify-content: center;
  align-items: start;

  gap: 4vw;

  margin-top: 3vh;
}

.qrs img {
  max-width: 20vw;

  transition: all 0.3s ease;
  cursor: pointer;
}

.qrs img:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .left_corner,
  .right_corner {
    width: 40vw;
  }

  .under_left_corner {
    width: 4vw;
  }

  .under_right_corner {
    width: 4vw;
  }

  .logo_header {
    gap: 4vw;

    max-width: 30vw;
  }

  .dot {
    max-width: 80vw;
  }

  .btns {
    max-width: 100vw;
    width: 100%;

    flex-wrap: wrap;

    margin-top: 1vh;
  }

  .btn {
    max-width: 40vw;
    width: 100%;
  }

  .qrs {
    flex-wrap: wrap;
    margin-top: 1vh;
  }

  .qrs img {
    max-width: 35vw;
  }
}

.left_corner,
.right_corner,
.under_left_corner,
.under_right_corner {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;

  z-index: -1;
}
